.container {
	position: fixed;
	left: 0;
	z-index: 1000;
	width: 616px;
	height: 100%;
	overflow: hidden auto;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.formTitle {
	margin: 0 0 50px !important;
	overflow: visible !important;
	font-weight: 800 !important;
	font-size: 31px !important;
	font-family: 'Open Sans', sans-serif !important;
	font-style: normal !important;
	font-variant: normal !important;
	line-height: normal !important;
	letter-spacing: 0% !important;
	white-space: normal !important;
	text-align: left !important;
	text-transform: uppercase !important;
	text-decoration: none !important;
	word-wrap: break-word !important;
}

.section {
	display: flex;
	flex-direction: column;
}

.sectionTitle {
	display: block !important;
	margin-bottom: 4px !important;
	padding: 0 !important;
	font-weight: 800;
	font-size: 16px !important;
	font-family: inherit !important;
	line-height: normal !important;
	letter-spacing: normal !important;
	text-align: left !important;
	text-transform: uppercase;
	background: none !important;
	background-color: transparent !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.separator {
	align-self: center;
	width: 554px !important;
	height: 0 !important;
	margin: 0 auto !important;
	border: none !important;
	border-top: 1px solid #d7d7d7 !important;
	opacity: 1 !important;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	width: 554px;
	height: 48px;
	margin-top: 207px;
	opacity: 1;

	& button {
		display: flex;
		flex: none;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 180px;
		height: 48px;
		padding-top: 12px;
		padding-bottom: 12px;
		border-width: 1px;
		opacity: 1;
	}
}
